The Enternal List Of Extension Implementation

So, I went and compared the gssapi.h and gssapi_ext.h files with Python-GSSAPI to look for any extensions and/or additional RFCs that we missed.

Extensions (as indicated by being in gssapi_ext.h)
==================================================

Solaris
-------

- [ ] *buffer* GSS_C_ATTR_LOCAL_LOGIN_USER
- [ ] gss_localname
- [ ] gss_pname_to_uid
- [ ] gss_userok
- [ ] gss_authorize_localname

GGF (Global Grid Forum)
-----------------------

- [ ] gss__inquire_sec_context_by_oid
- [ ] gss_inquire_cred_by_oid
- [ ] gss_set_sec_context_option
- [ ] gss_set_cred_option
- [ ] gssapi_mech_invoke ??

AEAD / SSPI (DCE)
-----------------

- [x] gss_wrap_aead
- [x] gss_unwrap_aead
- [ ] *OID* GSS_C_INQ_SSPI_SESSION_KEY
- [ ] gss_complete_auth_token
- [x] gss_wrap_iov
- [x] gss_unwrap_iov
- [x] gss_wrap_iov_length

IOV MIC
-------
- [x] gss_get_mic_iov
- [x] gss_get_mic_iov_length
- [x] gss_verify_mic_iov

Services4User
------------

- [x] gss_acquire_cred_impersonate_name
- [x] gss_add_cred_impersonate_name

Naming Extensions (actually RFC 6680)
------------------------------------

- [ ] *OID* GSS_C_NT_COMPOSITE_EXPORT
- [ ] gss_display_name_ext
- [ ] gss_inquire_name
- [ ] gss_get_name_attribute
- [ ] gss_set_name_attribute
- [ ] gss_delete_name_attribute
- [ ] gss_export_name_composite

Capsulate (draft-josefsson-gss-capsulate)
-----------------------------------------

- [ ] gss_encapsulate_token
- [ ] gss_decapsulate_token
- [ ] gss_oid_equal

Cred Store
----------

- [x] gss_acquire_cred_from
- [x] gss_add_cred_from
- [x] gss_store_cred_into

Cred Import/Export
------------------

- [x] gss_export_cred
- [x] gss_import_cred

Additional RFCs (in gssapi.h)
=============================

RFC 4401 (Pseduo-Random Generators)
-----------------------------------

- [ ] gss_pseudo_random

RFC 5588 (Store Cred)
---------------------

- [ ] gss_store_cred

RFC 4178 (SPNEGO)
-----------------

- [ ] gss_set_neg_mechs
- [ ] gss_get_neg_mechs (NOT ACTUALLY PRESENT

RFC 5587 (Mechanism Inquiry)
----------------------------

- [ ] gss_indicate_mechs_by_attrs
- [ ] gss_inquire_attrs_for_mech
- [ ] gss_display_mech_attr

RFC 5801 (GSSAPI-SASL Naming)
-----------------------------

- [ ] gss_inquire_saslname_for_mech
- [ ] gss_inquire_mech_for_saslname
